<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/placeholder/placeholder.js"></script>
	</head>
	<body>
		<input type="text" placeholder="这是input" value="" id="input1"  />
		<textarea placeholder="这是textarea"></textarea>
		<input type="text" placeholder="这是input2" value="Hello World!" id="input2"  />
        <textarea placeholder="这是textarea2">Hello placeholder!</textarea>
		<script>
		    $("input").placeholder();
		    $("textarea").placeholder();
		</script>
	</body>
</html>
